<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 949px; font-size : 13px; font-family: sans-serif">
    <span>Profile Last updated - <strong>2 week(s) ago</strong></span>
    <span style="color: #4a90e2">Check out how recruiters search for candidates like you</span>
  </div>

  <div fxLayout="row" style="width: 949px; height: 800px;" fxLayoutAlign="space-between start" >
    <div fxFlex="25">
    <mat-card fxLayout="column"  class="mat-elevation-z10" style="height: 500px;">
        
      <mat-list>
          <mat-list-item class="card-title">Quick Links</mat-list-item>
          <mat-divider></mat-divider>
      </mat-list>
    </mat-card>
    </div>
    <div fxLayout="column" fxFlex="73" fxLayoutGap="20px">
        <mat-card class="mat-elevation-z10">
            <mat-card-content fxLayout="column" fxLayoutGap="20px">
              <span class="card-title">Resume HeadLine <mat-icon style="padding-left: 20px">edit</mat-icon></span>
              <span class="grey-color-text">Full Stack Developer - 5.9 Years of Experience in Capital Market</span>
            </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z10">
            <mat-card-content fxLayout="column" fxLayoutGap="20px">
              <span class="card-title">Key Skills <mat-icon style="padding-left: 20px">edit</mat-icon></span>
              <mat-chip-list>
                  <mat-chip class="grey-color-text">Java</mat-chip><mat-chip class="grey-color-text">Spring</mat-chip><mat-chip class="grey-color-text">Hibernate</mat-chip>
                  <mat-chip class="grey-color-text">Angular</mat-chip><mat-chip class="grey-color-text">Angular Material</mat-chip><mat-chip class="grey-color-text">Bootstrap</mat-chip>
                  <mat-chip class="grey-color-text">MysQL</mat-chip><mat-chip class="grey-color-text">Microsoft SQL Server</mat-chip><mat-chip class="grey-color-text">Oracle</mat-chip>
                  <mat-chip class="grey-color-text">Artificial Intelligence</mat-chip><mat-chip class="grey-color-text">Digital Marketing</mat-chip><mat-chip class="grey-color-text">Capital MArket</mat-chip>
                  <mat-chip class="grey-color-text">Enterprise Risk</mat-chip><mat-chip class="grey-color-text">Control-M</mat-chip><mat-chip class="grey-color-text">Informatica</mat-chip>
                </mat-chip-list>
            </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z10" style="height: 200px">
          <mat-card-content fxLayout="column" fxLayoutGap="20px">
            <span class="card-title">Employment <mat-icon style="padding-left: 20px">edit</mat-icon></span>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z10" style="height: 200px">
          <mat-card-content fxLayout="column" fxLayoutGap="20px">
            <span class="card-title">Qualification <mat-icon style="padding-left: 20px">edit</mat-icon></span>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z10" style="height: 200px">
          <mat-card-content fxLayout="column" fxLayoutGap="20px">
            <span class="card-title">IT Skills <mat-icon style="padding-left: 20px">edit</mat-icon></span>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z10" style="height: 200px">
          <mat-card-content fxLayout="column" fxLayoutGap="20px">
            <span class="card-title">Projects <mat-icon style="padding-left: 20px">edit</mat-icon></span>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z10" style="height: 200px">
          <mat-card-content fxLayout="column" fxLayoutGap="20px">
            <span class="card-title">Project Summary <mat-icon style="padding-left: 20px">edit</mat-icon></span>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z10" style="height: 200px">
          <mat-card-content fxLayout="column" fxLayoutGap="20px">
            <span class="card-title">Accomplishment <mat-icon style="padding-left: 20px">edit</mat-icon></span>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z10" style="height: 200px">
          <mat-card-content fxLayout="column" fxLayoutGap="20px">
            <span class="card-title">Personal Details <mat-icon style="padding-left: 20px">edit</mat-icon></span>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z10" style="height: 200px">
          <mat-card-content fxLayout="column" fxLayoutGap="20px">
            <span class="card-title">Attach Resume <mat-icon style="padding-left: 20px">edit</mat-icon></span>
            <span class="grey-color-text">Resume is the most important document recruiters look for. Recruiters generally do not look at profiles without resumes.</span>
          </mat-card-content>
        </mat-card>


    </div>
  </div>
</div>