<mat-toolbar class="white-background" fxLayoutAlign="center center">
  <div class="container" fxFlex fxLayout="row" fxLayoutAlign="space-around center">
  <div>
    <img src="../../../../../assets/logos/naukri_Logo.png">
  </div>
  <div fxLayout="row" fxLayoutGap="5px">
    <span class="menu-dropdown">
      <div class="menu-idem-underline">JOBS</div>
    </span>
    <span class="menu-dropdown"><div class="menu-idem-underline">RECRUITERS</div></span>
    <span class="menu-dropdown"><div class="menu-idem-underline">COMPANIES</div></span>
    <span class="menu-dropdown"><div class="menu-idem-underline">SERVICES</div></span>
    <span class="menu-dropdown"><div class="menu-idem-underline">MORE</div></span>
  </div>

  <div class="menu-item" fxLayout="row" fxLayoutGap="1px">
    <span class="menu-dropdown" ><div class="menu-idem-underline" matBadge="7">NOTIFICATIONS</div></span>
    <span class="menu-dropdown"><div class="menu-idem-underline">MY NAUKRI</div></span>
  </div>
  </div>
</mat-toolbar>
