.black-header {
    background-color: #232323;
}

.profile-pic {
    background-image: url('../../../../../assets/images/tandaw.jpg');
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.mat-icon {
    color: white;
}

.mat-toolbar {
        position: sticky;
        position: -webkit-sticky; /* For macOS/iOS Safari */
        top: 0; /* Sets the sticky toolbar to be on top */
        z-index: 1000
}